/* =WP Listings - Defaults
------------------------------------------------------------ */

/* reset some theme defaults */
.full-width.singular .site-content article.hentry.has-post-thumbnail,
.full-width .site-content .has-post-thumbnail header.entry-header {
	margin-top: 0; /* reset some theme defaults */
}
.site-content .has-post-thumbnail .entry-header {
	padding-top: 0
}
/* end reset some theme defaults */


.listing-wrap {
}

.wplistings-single-listing .listing-image-wrap img,
.wplistings-single-listing .iframe-wrap iframe {
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
}

.listing-meta,
#listing-tabs,
#listing-map,
#listing-agent,
.listing-details,
.additional-features {
	clear: both;
	margin-bottom: 30px;
}


/* =Archive Listing template
------------------------------------------------------------ */

.archive .listing-wrap {
}


/* =Single Listing template
------------------------------------------------------------ */

.wplistings-single-listing .listing-image-wrap {
	position: relative;
	overflow: hidden;
}

.wplistings-single-listing .listing-image-wrap img {
	margin: 0;
	padding: 0;
}

.wplistings-single-listing .listing-image-wrap span {
	position: absolute;
	color: #333;
	font-size: 16px;
	background: #fff;
}

.wplistings-single-listing .listing-image-wrap span.listing-status {
	width: 130px;
	padding: 5px;
	top: 18px;
	left: -30px;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	-moz-transform: scale(1) rotate(-45deg) translate(0px);
	-webkit-transform: scale(1) rotate(-45deg) translate(0px);
	-o-transform: scale(1) rotate(-45deg) translate(0px);
	transform: scale(1) rotate(-45deg) translate(0px);
	box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.2);
}

.wplistings-single-listing .listing-image-wrap span.listing-status.active {
	background: #53c331;
}
.wplistings-single-listing .listing-image-wrap span.listing-status.sold {
	background: #be1d2c;
}
.wplistings-single-listing .listing-image-wrap span.listing-status.pending {
	background: #db8323;
}
.wplistings-single-listing .listing-image-wrap span.listing-status.new,
.wplistings-single-listing .listing-image-wrap span.listing-status.reduced,
.wplistings-single-listing .listing-image-wrap span.listing-status.for-rent {
	background: #24a4ea;
}

.wplistings-single-listing .listing-image-wrap span.listing-open-house {
	left: 0;
	bottom: 0;
	padding: 5px 12px;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	background: #be1d2c;
	background: rgba(190,29,44,0.75);
	box-shadow: 2px -2px 1px rgba(0, 0, 0, 0.2);
}

.wplistings-single-listing .listing-meta {
	list-style-type: none;
	width: 100%;
	overflow: hidden;
	margin: 0 0 30px;
	padding: 0;
	background: #f5f5f5;
}

.wplistings-single-listing .listing-meta li {
	float: left;
	display: inline-block;
	padding: 8px 0 8px 25px;
	font-size: 13px;
	font-weight: 700;
	line-height: 35px;
}

.wplistings-single-listing .listing-meta li span.label {
	font-weight: 400;
}

.wplistings-single-listing .listing-meta li.listing-price {
	color: #fff;
	font-size: 16px;
	padding-right: 25px;
	background: #1c7e24;
}

.wplistings-single-listing .ui-tabs {
	zoom: 1;
}

.wplistings-single-listing .ui-tabs .ui-tabs-nav {
	list-style: none;
	position: relative;
	padding: 0;
	margin: 0;
}

.wplistings-single-listing .ui-tabs .ui-tabs-nav li {
	list-style-type: none;
	position: relative;
	float: left;
	margin: 0 3px -1px 0;
	padding: 0;
}

.wplistings-single-listing .ui-tabs .ui-tabs-nav li a {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	display: block;
	padding: 10px 20px;
	background: #999;
	outline: none;
	border: none;
	border-radius: 3px 3px 0 0;
}

.wplistings-single-listing .ui-tabs .ui-tabs-nav li.ui-tabs-active {
}

.wplistings-single-listing .ui-tabs .ui-tabs-nav li.ui-tabs-active a {
	padding: 10px 20px;
	color: #666;
	background: #fff;
	border: 1px solid #ccc;
	border-bottom-style: none;
}

.wplistings-single-listing .ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.wplistings-single-listing .ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.wplistings-single-listing .ui-tabs .ui-tabs-nav li.ui-state-processing a {
	cursor: default;
}

.wplistings-single-listing .ui-tabs .ui-tabs-nav li a,
.wplistings-single-listing .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
	cursor: pointer;
}

.wplistings-single-listing .ui-tabs .ui-tabs-panel {
	display: block;
	padding: 15px;
	clear: both;
	border: 1px solid #ccc;
	border-radius: 0 3px 3px 3px;
}

.wplistings-single-listing .ui-tabs .ui-tabs-hide {
	display: none;
}

.wplistings-single-listing tbody {
	display: inline-table;
	width: 48%;
	margin-right: 1%;
	vertical-align: top;
}
.wplistings-single-listing table tr:nth-child(even) {
	background: #f5f5f5;
}
.wplistings-single-listing td.label {
	padding-left: 5px;
	font-size: 14px;
	text-transform: uppercase;
}

/* =Featured Listing Widget
------------------------------------------------------------ */

.featured-listings .listing-wrap {
	width: 100%;
	margin: 0;
}
.listing-wrap .listing-image-link {
	display: block;
	margin-bottom: 15px;
}


/* =Column classes (for widget only)
------------------------------------------------------------ */

.listing.five-sixths,
.listing.four-sixths,
.listing.one-fourth,
.listing.one-half,
.listing.one-sixth,
.listing.one-third,
.listing.three-fourths,
.listing.three-sixths,
.listing.two-fourths,
.listing.two-sixths,
.listing.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
	margin-bottom: 15px;
}

.listing.one-half,
.listing.three-sixths,
.listing.two-fourths {
	width: 48.717948717948715%;
}

.listing.one-third,
.listing.two-sixths {
	width: 31.623931623931625%;
}

.listing.four-sixths,
.listing.two-thirds {
	width: 65.81196581196582%;
}

.listing.one-fourth {
	width: 23.076923076923077%;
}

.listing.three-fourths {
	width: 74.35897435897436%;
}

.listing.one-sixth {
	width: 14.52991452991453%;
}

.listing.five-sixths {
	width: 82.90598290598291%;
}

.listing.first {
	clear: both;
	margin-left: 0;
}


/* =Listing Navigation
------------------------------------------------------------ */

.nav-links {
	-webkit-hyphens: auto;
	-moz-hyphens:    auto;
	-ms-hyphens:     auto;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	hyphens:         auto;
	word-wrap: break-word;
}

.listing-navigation {
	margin: 24px auto 48px;
	max-width: 474px;
	padding: 0 10px;
}

.listing-navigation a {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 11px 0 12px;
	width: 100%;
}

.listing-navigation .meta-nav {
	color: #767676;
	display: block;
	font-size: 12px;
	font-weight: 900;
	line-height: 2;
	text-transform: uppercase;
}

.listing-navigation a {
	color: #2b2b2b;
	display: block;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.7142857142;
	text-transform: none;
}

.listing-navigation a:hover {
	color: #41a62a;
}

/* Paging Navigation */

.pagination,
.archive-listing-navigation {
	clear: both;
}

.archive-listing-navigation {
	border-top: 5px solid #000;
	margin: 48px 0;
}

.archive-listing-navigation .loop-pagination {
	margin-top: -5px;
	text-align: center;
}

.archive-listing-navigation .page-numbers {
	border-top: 5px solid transparent;
	display: inline-block;
	font-size: 14px;
	font-weight: 900;
	margin-right: 1px;
	padding: 7px 16px;
	text-transform: uppercase;
}

.archive-listing-navigation a {
	color: #2b2b2b;
}

.archive-listing-navigation .page-numbers.current {
	border-top: 5px solid #24890d;
}

.archive-listing-navigation a:hover {
	border-top: 5px solid #41a62a;
	color: #2b2b2b;
}


/* =Responsive
------------------------------------------------------------ */

@media only screen and (max-width: 1139px) {
	.wplistings-single-listing .listing-meta li {
		padding-left: 15px;
		font-size: 12px;
	}

	.wplistings-single-listing .listing-meta li.listing-price {
		padding-right: 15px;
		font-size: 14px;
	}

	.wplistings-single-listing .ui-tabs .ui-tabs-nav li a {
		font-size: 12px;
	}
}

@media (max-width: 767px) {
	.wplistings-single-listing .listing-meta li.listing-price {
		height: 105px;
	}

	.wplistings-single-listing .ui-tabs .ui-tabs-nav li {
		float: none;
		width: 100%;
		margin: 0;
	}

	.wplistings-single-listing .ui-tabs .ui-tabs-nav li.ui-tabs-active {
		margin-top: -1px;
	}

	.wplistings-single-listing .ui-tabs .ui-tabs-nav li a {
		font-size: 14px;
		line-height: 18px;
		border-radius: 0;
		border-bottom: 1px solid #ccc;
	}

	.wplistings-single-listing .ui-tabs .ui-tabs-nav li a:after,
	.wplistings-single-listing .ui-tabs .ui-tabs-nav li.ui-tabs-active a:after {
		font-family: 'FontAwesome';
		font-size: 16px;
		content: "\f078";
		position: absolute;
		top: 10px;
		right: 15px;
	}

	.wplistings-single-listing .ui-tabs .ui-tabs-nav li.ui-tabs-active a:after {
		content: "";
	}

	.wplistings-single-listing .ui-tabs .ui-tabs-panel {
		border-top: none;
	}
	
	.wplistings-single-listing tbody {
		width: 100%;
		margin-right: 0;
		border-bottom: none;
	}

	.wplistings-single-listing td,
	.wplistings-single-listing td.label {
		display: block;
		padding: 6px 10px;
		border-top: none;
	}

	.listing.one-half,
	.listing.one-third,
	.listing.two-thirds,
	.listing.one-fourth,
	.listing.three-fourths,
	.listing.one-fifth,
	.listing.two-fifths,
	.listing.three-fifths,
	.listing.four-fifths,
	.listing.one-sixth,
	.listing.five-sixths {
		float: none;
		width: 100%;
		padding: 0;
		margin: 0 0 20px;
	}
}

@media (max-width: 480px) {
	.wplistings-single-listing .listing-image-wrap span.listing-status,
	.wplistings-single-listing .listing-image-wrap span.listing-open-house {
		font-size: 12px;
	}

	.wplistings-single-listing .listing-meta li,
	.wplistings-single-listing .listing-meta li.listing-price {
		width: 100%;
		padding: 0 15px;
		height: 100%;
	}
}