/* =WP Listings
------------------------------------------------------------ */

/* reset some theme defaults */
.full-width.singular .site-content article.hentry.has-post-thumbnail,
.full-width .site-content .has-post-thumbnail header.entry-header {
	margin-top: 0; /* reset some theme defaults */
}
.site-content .has-post-thumbnail .entry-header {
	padding-top: 0
}
/* end reset some theme defaults */

.listing-wrap {
}

.listing-wrap a img {
	width: 100%;
	max-width: 100%;
}

.widget .listing-wrap .btn {
}

.listing-price {
}

.listing-text {
}

.listing-address,
.listing-city-state-zip {
}

.listing .more-link {
}

.listing .more-link:hover {
}


/* =Archive Listing template
------------------------------------------------------------ */

.archive .listing-wrap {
	float: left;
	margin: 0 1.6% 3%;
	width: 30%;
}


/* =Single Listing template
------------------------------------------------------------ */

.single-listing .featured-photo {
}

.single-listing .gallery-images {
}

.single-listing .gallery-images .container {
}

.single-listing .gallery-item {
}

.single-listing .gallery-item img {
}

.single-listing .content {
	clear: both;
}

.single-listing .listing-data {
}

.single-listing .iframe-wrap iframe {
	display: block;
	width: 100%;
	max-width: 100%;
}

.single-listing .tagged-features {
}

.single-listing .additional-features p {
}


/* =Featured Listing Widget
------------------------------------------------------------ */
.featured-listings .listing-wrap {
	width: 100%;
	margin: 0;
}
.listing-wrap .listing-image-link {
	display: block;
	margin-bottom: 15px;
}


/* =Column classes (for widget only)
------------------------------------------------------------ */

.featured-listings .five-sixths,
.featured-listings .four-sixths,
.featured-listings .one-fourth,
.featured-listings .one-half,
.featured-listings .one-sixth,
.featured-listings .one-third,
.featured-listings .three-fourths,
.featured-listings .three-sixths,
.featured-listings .two-fourths,
.featured-listings .two-sixths,
.featured-listings .two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
	margin-bottom: 15px;
}

.featured-listings .one-half,
.featured-listings .three-sixths,
.featured-listings .two-fourths {
	width: 48.717948717948715%;
}

.featured-listings .one-third,
.featured-listings .two-sixths {
	width: 31.623931623931625%;
}

.featured-listings .four-sixths,
.featured-listings .two-thirds {
	width: 65.81196581196582%;
}

.featured-listings .one-fourth {
	width: 23.076923076923077%;
}

.featured-listings .three-fourths {
	width: 74.35897435897436%;
}

.featured-listings .one-sixth {
	width: 14.52991452991453%;
}

.featured-listings .five-sixths {
	width: 82.90598290598291%;
}

.featured-listings .first {
	clear: both;
	margin-left: 0;
}


/* =Listing Navigation
------------------------------------------------------------ */

.nav-links {
	-webkit-hyphens: auto;
	-moz-hyphens:    auto;
	-ms-hyphens:     auto;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	hyphens:         auto;
	word-wrap: break-word;
}

.listing-navigation {
	margin: 24px auto 48px;
	max-width: 474px;
	padding: 0 10px;
}

.listing-navigation a {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 11px 0 12px;
	width: 100%;
}

.listing-navigation .meta-nav {
	color: #767676;
	display: block;
	font-size: 12px;
	font-weight: 900;
	line-height: 2;
	text-transform: uppercase;
}

.listing-navigation a {
	color: #2b2b2b;
	display: block;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.7142857142;
	text-transform: none;
}

.listing-navigation a:hover {
	color: #41a62a;
}

/* Paging Navigation */

.archive-listing-navigation {
	border-top: 5px solid #000;
	margin: 48px 0;
}

.archive-listing-navigation .loop-pagination {
	margin-top: -5px;
	text-align: center;
}

.archive-listing-navigation .page-numbers {
	border-top: 5px solid transparent;
	display: inline-block;
	font-size: 14px;
	font-weight: 900;
	margin-right: 1px;
	padding: 7px 16px;
	text-transform: uppercase;
}

.archive-listing-navigation a {
	color: #2b2b2b;
}

.archive-listing-navigation .page-numbers.current {
	border-top: 5px solid #24890d;
}

.archive-listing-navigation a:hover {
	border-top: 5px solid #41a62a;
	color: #2b2b2b;
}


/* =Responsive
------------------------------------------------------------ */
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	.one-half,
	.one-third,
	.two-thirds,
	.one-fourth,
	.three-fourths,
	.one-fifth,
	.two-fifths,
	.three-fifths,
	.four-fifths,
	.one-sixth,
	.five-sixths {
		float: none;
		width: 100%;
		padding: 0;
		margin: 0 0 20px;
	}
}