.idx-import-option {
	width: 30%;
	margin: 0 1%;
	float: left;
	text-align: center;
}
.idx-import-option .dashicons {
	display: block;
	font-size: 50px;
	height: 50px;
	width: 50px;
	margin: 10px auto;
}
.idx-import-option.update-all .dashicons {
	color: #46B450;
}
.idx-import-option.update-noimage .dashicons {
	color: #FFB900;
}
.idx-import-option.update-none .dashicons {
	color: #DC3232;
}
.idx-import-option.sold-keep .dashicons {
	color: #46B450;
}
.idx-import-option.sold-draft .dashicons {
	color: #00A0D2;
}
.idx-import-option.sold-delete .dashicons {
	color: #DC3232;
}
.idx-import-option input[type=radio] + p {
	padding: 15px;
}
.idx-import-option input[type=radio]:checked + p {
	background: #fff;
}

#dashboard_right_now a.listing-count:before,
#dashboard_right_now span.listing-count:before {
	content: "\f102";
}

.wpl-term-image {
	max-width: 80px;
	height: auto;
}