img.listing {
	max-width: 150px;
	min-height: 100px;
	vertical-align: middle;
	border: 1px solid #ccc;
}
#wplistings-idx-listing-import li {
	list-style-type: none;
	text-align: center;
	background: #efefef;
	padding: 10px;
	margin: 0 0.5em 2em 0;
	border: 1px solid #CFCCCC;
	overflow: hidden;
}
#wplistings-idx-listing-import .idx-listing:hover li {
	background: #97c58b;
}
#wplistings-idx-listing-import li p {
	font-size: 12px;
}
#wplistings-idx-listing-import li p span.price {
	font-size: 14px;
}
#wplistings-idx-listing-import li p span.mls {
	font-size: 11px;
}
#wplistings-idx-listing-import li span.imported {
	font-size: 0.8em;
	line-height: 3em;
	text-align: left;
	text-transform: uppercase;
	display: block;
	border: 1px solid #fff;
	color: #64b450;
	background-color: #fff;
	padding: 0 6px;
}
#wplistings-idx-listing-import li span.imported i {
	width: 35px;
	font-size: 3em;
	margin-left: -10px;
}
#wplistings-idx-listing-import li.selected,
#wplistings-idx-listing-import li.imported {
	background: #64b450;
	color: white;
}
#wplistings-idx-listing-import li input[type="checkbox"] {
	background: #64b450;
	display: none;
}
#wplistings-idx-listing-import li input[type="checkbox"]:checked + p:before {
	font-family: 'dashicons';
	font-size: 2em;
	line-height: 1;
	content: "\f147";
	display: block;
	text-align: left;
	margin-top: -7px;
}
#wplistings-idx-listing-import .delete-post {
	font-size: 0.7em;
	font-weight: 700;
	line-height: 2.8;
	color: #dc3232;
	text-decoration: none;
	text-transform: uppercase;
	text-align: right;
	float: right;
	display: inline-block;
	background-color: #fff;
	padding: 2px 10px 2px 0;
	border-radius: 15px;
}
#wplistings-idx-listing-import .delete-post:hover,
#wplistings-idx-listing-import .delete-post:active,
#wplistings-idx-listing-import .delete-post:hover:before,
#wplistings-idx-listing-import .delete-post:active:before {
	color: #c33030;
}
#wplistings-idx-listing-import .delete-post:before {
	font-family: 'dashicons';
	font-size: 1.8em;
	line-height: 1.5;
	content: "\f182";
	display: block;
	float: left;
	width: 25px;
	margin-left: -3px;
}
#wplistings-idx-listing-import .delete-all {
	color: red;
	float: right;
	margin-right: 40px;
}
/* Masonry sizer */
.grid {
	width: 100%;
}
.grid-sizer,
.grid-item {
	width: 180px;
}

/**
 * No IDX import listings page
 */
.idx-import.thickbox {
	display: block;
	width: 100%;
	min-width: 100%;
	height: 100vh;
	min-height: 100%;
	padding: 8%;
	position: absolute;
	top: 0;
	left: -20px;
	background: rgba(0,0,0,0.6);
}
.idx-import.thickbox a {
	display: block;
	position: absolute;
	left: 20%;
	margin: auto;
	background: #fff;
}
.idx-import.thickbox a img {
	display: block;
	margin: 0 auto;
	padding: 25px;
	max-width: 320px;
}
.idx-import.bkg {
	max-width: 100%;
}
